<div class="card shadow p-3 m-3 bg-white rounded" style="width:21rem">
  <div class="card-body" width="270px">
    <h5 class="card-title">{{trailInfo.name}}</h5>
    <p class="card-text"><small class="text-muted">Type: {{trailInfo.trailType}}</small></p>
    <p class="card-text"><small class="text-muted">Land: {{trailInfo.land}}</small></p>
    <a class="btn btn-dark" href="" role="button">Save trail</a>
  </div>
</div>