<div class="container">
  <div class="row">
    <div class="col-sm-4 py-2">
      <div class="card h-100 border-secondary">
        <div class="card-body">
          <h3 class="card-title" id="trail-name">Trail Name:{{}}</h3>
          <p class="card-text" id="path-type">Path Type:{{}}</p>
          <p class="card-text" id="land">Land:{{}}</p>
          <p class="card-text"id="elevation">Elevation:{{}}</p>
          <a href="#" class="btn btn-outline-secondary">Save Trail</a>
        </div>
      </div>
    </div>
  </div>
</div>